a{
    text-decoration: none;
    color: black;
}

/*报名表单的样式*/
.enrolFrom{
    width: 900px;
    height: 150px;
    background: white;
    display: none;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    left: 24%;
    top: 51%;
    z-index: 99;
    border-radius: 20px;
    box-shadow: 0 3px 3px rgba(0,0,0,.3);
}

.enrol{
    position: static;
}

.label,.enrolFrom label{
    font-size: 18px;
    display: inline-block;
    margin-bottom: 15px;
}

.input,.enrolFrom input{
    width: 210px;
    height: 40px;
    border: none;
    border-radius: 10px;
    background: #EEE;
}

/*年份选择处样式*/
#year{
    width: 150px;
    overflow: hidden;
    position: relative;
    text-align: center;
    line-height: 40px;
}

.select-year{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 350px;
    height: 150px;
    position: absolute;
    top: 40px;
    background: white;
    z-index: 99;
    padding: 10px 30px;
    border-radius: 0 10px 10px 10px;
    box-shadow: 0 3px 3px rgba(0,0,0,.3);
}

.select-year div{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.select-year div span{
    display: inline-block;
    width: 10px;
}

#year:hover{
    overflow: visible;
    background: white;
    border-radius: 10px 10px 0 0;
    box-shadow: 0 3px 3px rgba(0,0,0,.3);
}

.active-font{
    font-weight: bold;
}


/*学校选择处样式*/
#school{
    text-align: center;
    line-height: 40px;
    overflow: hidden;
}
.select-school{
    display: flex;
    position: relative;
    background: white;
    width: 600px;
    height: 300px;
    padding: 20px;
    border-radius: 0 10px 10px 10px;
    box-shadow: 0 3px 3px rgba(0,0,0,.3);
}
.provinces{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100px;
    border-right: 3px solid #EEE;
}
.active-provinces{
    font-weight: bold;
}

.school-list {
    width: 500px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
}
.school-list span{
    width: 100px;
    padding:2px 50px;
}

#school:hover{
    overflow: visible;
    background: white;
    border-radius: 10px 10px 0 0;
    box-shadow: 0 3px 3px rgba(0,0,0,.3);
}

.active-school{
    font-weight: bold;
}

.enrolSuccess{
    width: 900px;
    height: 150px;
    background: white;
    display: none;
    position: absolute;
    left: 24%;
    top: 51%;
    z-index: 999;
    border-radius: 20px;
    box-shadow: 0 3px 3px rgba(0,0,0,.3);
    text-align: center;
    line-height: 150px;
    font-size: 30px;
}

.reload{
    position: absolute;
    width: 120px;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    left: 770px;
    top: 106px;
    display: block;
    background: white;
}
.reload a{
    color: rgba(173,173,173);
}





