/*头部样式*/
header{
    /*设置高度*/
    height: 60vh;
    /*添加背景图片*/
    background-image: url("images/head.png");
    /*更改背景图片显示的位置*/
    background-position: top;
}

/*导航栏样式*/
nav{
    /*设置高度*/
    height: 12.5%;
    /*设置背景色与透明度*/
    background: rgba(0,0,0,.4);
    /*使用弹性盒*/
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*导航栏列表样式*/
.nav-list{
    width: 80vh;
    /*使用弹性盒*/
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-right: 80px;
}
.nav-list li:not(:nth-child(5)):hover{
    background: rgba(0,0,0,.4);
}

/*导航栏列表前四个链接样式*/
.nav-list > li:not(:nth-child(5)) a{
    /*去除下划线*/
    text-decoration: none;
    /*调整字体垂直居中*/
    line-height:7.5vh;
    /*字体颜色*/
    color: white;
    /*设置成块元素以修改宽高*/
    display: block;
    /*固定高度*/
    height: 7.5vh;
    /*增加内边距以增强视觉效果*/
    padding: 0 15px;
}

/*"管理中心"样式*/
.manage-center a{
    text-decoration: none;
    color: white;
    display: block;
    background: rgba(73,73,73);
    height: 38px;
    line-height: 38px;
    border: 0 solid;
    padding:0 10px ;
    border-radius: 10px;
}
.manage-center a:hover{
    background: rgb(102,102,102);
}

/*导航栏logo样式*/
.home-logo{
    width: 160px;
    padding-left: 80px;
}

/*内容区第一部分*/
.content{
    margin: 0 auto ;
    width: 77%;
}
.content-first span{
    display: block;
    font-size: 30px;
    margin: 50px 0 50px 0;
}
.pic-title{
    font-size: 20px;
    margin-bottom: 15px;
}
.content-first img{
    width: 95%;
}
.content-first ul{
    display: flex;
    justify-items: center;
}

/*内容区第二部分*/
.content-title{
    display: block;
    padding: 100px 0;
    text-align: center;
    font-size: 30px;
}
.course-list{
    margin-bottom: 100px;
    /*display: none;*/
}
.pic-icon{
    float: left;
    width: 150px;
    height: 150px;
    background-image: url("./images/pic-icon.png");
    border-radius: 50%;
    background-position: -85px -0.5px;
    margin-right: 20px;
    margin-top: -20px;
}
.course-title a{
    display: inline-block;
    text-decoration: none;
    color: black;
    margin-bottom: 20px;
    font-size: 20px;
}
.course-introduce{
    font-size: 15px;
    line-height: 25px;
}
.content-second{
    position: relative;
}


/*课程内容切换按钮样式*/
.lesson-switch{
    position: absolute;
    right: 40px;
    top: 150px;
    border-bottom: 3px solid #DBDBDB;
}
.lesson-switch span{
    display: inline-block;
    padding: 15px;
    margin: 0;
}
.lesson-switch span a {
    font-weight: bold;
    text-decoration: none;
    color: #808080;
}
span.active a{
    color: black;
}
span.active{
    color: black;
    border-bottom: 3px black solid;
    margin-bottom: -3px;
}

/*课程小标签样式*/
.tag{
    font-size: 18px;
    padding: 8px;
    display: inline-block;
    border-radius: 30px;
}
.HTML-tag{
    background: #ADBAFF;
}
.CSS-tag{
    background: #356734;
}
.JavaScript-tag{
    background: #6396d0;
}



/*底部样式*/
footer{
    display: flex;
    justify-content: space-around;
    height: 30vh;
    background: #DDD;
    align-items: center;
    margin-top: 300px;
}
.footer-icon img {
    width: 400px;
    height: 70px;
}
.footer-content{
    display: flex;
    width: 50%;
    justify-content: space-around;
    line-height: 27px;
}
.Links {
    font-size: 20px;
    margin-bottom: 10px;
}

.message{
    width: 900px;
    height: 40px;
    border-radius: 10px;
    position: absolute;
    left: 365px;
    top:540px;
    background: #bfa;
    text-align: center;
    line-height: 40px;
    display: none;
}
.errorMessage{
    background: #ec8181;
}
